/* Table diplay */
table.display {
    font-family: helvetica;
    font-size: 14;
    width: 80%;
    position: absolute;
    top: 30px
}
table.display  th {
      background-color: #1f1f14 ;
      color: #ffa31a;
      font-weight: normal;
      text-align: center;
    }
table.display  td {
      background-color: white;
      color: rgb(111, 111, 111);
      text-align: center;
}

/* Table input */
table.input {
    font-family: helvetica;
    font-size: 14;
    position: absolute;
    width: 300px;
    top: 30px
}

table.input  td {
    width: 10px;
    background-color: white;
    color: rgb(111, 111, 111);
    text-align: center;
}


ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 170px;
   font-family: helvetica;
   position:absolute;
   top: 100px;
   left: 0;
}

li a {
   display: block;
   color: #ffa31a;
   padding: 8px 16px;
   text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
   background-color: #555;
   color: white;
}

#logged_user {
  position: absolute;

  top: 0;
  background: #1f1f14;
  height: 60px;
  width: 60px;

}

#sidebar {
   position:fixed;
   /*z-index: -1;*/
   height: 100%;
   top: 0;
   left: 0;
   width:170px;
   background: #1f1f14;
}

#header {
  position: fixed;
  /*z-index: -2;*/
  left:170px;
  top: 0;
  width: 100%;
  height: 60px;
  background: #7e8171;
  text-align: left;
  line-height: 60px;
  font-weight: bold;
}

#content {
  position: fixed;
  /*z-index: -2;*/
  background: #e5e7db;
  height: 100%;
  top: 60px;
  left: 170px;
  width: 100%;
}

#content_header {
  position: fixed;
  width: inherit;
  height: 25px;
}

#content_content {
  position: fixed;
  top: 85px;
  height: inherit;
}
