
/* Table diplay */
table.display {
    font-family: helvetica;
    font-size: 14;
    width: 80%;
    position: absolute;
    top: 30px;
    overflow: scroll;
}
table.display  th {
      background-color: #1f1f14 ;
      color: #ffa31a;
      font-weight: normal;
      text-align: center;
      overflow: scroll;
    }
table.display  td {
      background-color: white;
      color: #1f1f14;
      text-align: center;
      overflow: scroll;
}

table.display   caption {
      color: #1f1f14;
      text-align: center;
      font-family: helvetica;
      font-size: 20;
}


/* Table edit */
table.edit {
  font-family: helvetica;
}
table.edit  td {
      color: #1f1f14;
      text-align: left;
}


/* Buttons */
button.update {
  background-color: #809fff   ;
  color: #1f1f14;
  height: 30px;
  width: 150px;
}

button.delete {
  background-color:#ff8080;
  color: #1f1f14;
  height: 30px;
  width: 150px;
}

button.add {
  background-color:#a6ff4d;
  color: #1f1f14;
  position: absolute;
  left: 1px;
  height: 30px;
  width: 150px;
}



ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 170px;
   font-family: helvetica;
   position:absolute;
   top: 100px;
   left: 0;
}

li a {
   display: block;
   color: #ffa31a;
   padding: 8px 16px;
   text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
   background-color: #555;
   color: white;
}



#logged_user {
  position: absolute;
  top: 0;
  background: #1f1f14;
  height: 60px;
  width: 60px;

}

#sidebar {
   position:fixed;
   /*z-index: -1;*/
   height: 100%;
   top: 0;
   left: 0;
   width:170px;
   background: #1f1f14;
}


#header {
  position: fixed;
  /*z-index: -2;*/
  left:170px;
  top: 0;
  width: 100%;
  height: 60px;
  padding-left: 2px;
  background: #7e8171;

  color:#1f1f14;
  text-align: left;
  line-height: 60px;
  font-weight: bold;
}

#content {
  position: fixed;
  /*z-index: -2;*/
  background: #e5e7db;
  height: 100%;
  top: 60px;
  left: 170px;
  width: 100%;
}
